body {
    font-family: 'Fira Code', monospace;
    background-color: rgb(255, 255, 255);
}
header, main {
    font-size:25pt;
    color: #ffb515;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width: 80px;
}