body {
    font-family: Fira Code;
    font-size: 30px;
}
button {
    font-family: Fira Code;
    width: 100px;
}

header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}